@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  :root[class~='dark'] {
    --background: #000000;
    --foreground: #ffffff;
  }
}
